*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(238, 238, 238);
  background-color: rgb(57, 62, 70);
}
